.pagination {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.pagination button {
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
}

.pagination button:not(:disabled):hover {
    color: red;
}

.pagination button:disabled {
    cursor:not-allowed;
}